@charset "UTF-8";

/* Typical Device Breakpoint
---------------------------- 
Pequenas Telas: até 600px
Celulares: de 600 a 768px
Tablet:: de 768 a 992px
PC: de 992 a 1200px
Grandes Telas: acima de 1200px 
*/

@media screen and (min-width: 768px) {
   i#burger{
    display: none;
   }
   menu{
    display: block;
    text-align: center;
   }   
   menu > ul > li{
    display: inline-block;
   }  
}