@media only screen and (max-width: 700px) {
    .corpo img {
      width: 95%;
      height: 95%;
      margin: auto;
    }
    .banner {
        width: 95%;
        height: 95%;
        margin: auto;
      }
  }
body{
    background-image: linear-gradient(to right, #971d2a, #821570);
}
header{
    position: fixed;
    background-image: linear-gradient(to right, #971d2a, #821570);
    height: 180px;
    width: 100%;
    top: 0px;
}
.logo{
    position: fixed;
    width: 26%;
    height: 120px;
    float: left;
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 30px;
    top: 0px;
    left: 0px;
    margin-top: 15px;
    padding-left: 20px;
}
.menu{
    position: fixed;
    margin-left: 25%;
    width: 75%;
    height: flex;
    float: left;
    top: 0px;
}
.meumenu{
    padding-left: 120px;
    padding-top:25px;
    list-style: none;
    float: left;
    margin-left: 2%;
    margin-top: 3%;
}
.meumenu li{
    padding-top: 10px;
    height: 20px;
    position:relative;
    float: left;   
}
.meumenu li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 12px;
    display: block;
    border: solid white 1px;
    width: auto;
    height: 5px;
    line-height: 0%;
}
.meumenu li a:hover{
    background-color:  #a51c45;
    font-weight: bold;
}
.corpo{
    width: 90%;
    margin: auto;
}
.banner{
    width: 90%;
    padding: none;
    margin-top: 8%;
    margin-bottom: -5px;
    margin-left: 5%;
    margin-right: 5%;
}
.corpo img{
    display: block;
    margin: 12px;
    float: left;
}
.corpo img:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
}
.title{
    background-image: linear-gradient(to right, #971d2a, #821570);
    width: 100%;
    height: 150px;
    float: left;
    margin: auto;
}
.title h1{
    padding-top: 50px;
    margin: auto;
    font-size: 35px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 15px black;
}
.center {
    background-image: linear-gradient(to right, #971d2a, #821570);
    width: 100%;
    height: 150px;
    float: left;
    margin: auto;
}
.center h2{
    padding-top: 50px;
    line-height: 1em;
    margin: auto;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 15px black;
}
.pizzaria img{
    margin-bottom: 30px;
}
.pizzaria2 img{
    margin-bottom: 30px;
}
.campobotao{
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right, #971d2a, #821570);
    color: white;
    border: 1px solid white;
}
.campobotao:hover{
    background-image: linear-gradient(to left, #971d2a, #821570);  
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
}
.footer{
    background-image: linear-gradient(to right, #971d2a, #821570);
    width: 101.1%;
    height: 140px;
    float: left;
    text-align: center;
    font-size: 15px;
    margin-left: -8px;
    line-height: 15px;
}
.footer img{
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: -0.5%;
}
.footer h1{
    color: white;
    text-decoration: none;
    font-weight:lighter;
}
.voltar{
    font-size: 22px;
    color: white;
    font-weight:lighter;
}

